<!doctype html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Instagram API search</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-animate.min.js"></script>
	<script src="app.js"></script>
	<link rel="stylesheet" href="main.css">
</head>

<body>
    <div class="splash">
      <img src="ng-instagram.png">
  
    </div>
    <div ng-controller="MyController">
      <form ng-submit="searchInstagram(keyword)">
        <input class="keyword-input" type="text" name="keyword" ng-model="keyword" required />
        <input type="submit" value="Submit" id="submit" />
      </form>
      <div class="results" ng-if="results">
        <h2>We found {{ results.length }} results for "{{ keyword }}"</h2>
        <div>
          <ul class="imgResults">
            <li ng-repeat="result in results" class="animate-repeat"><a href="{{result.link}}" ><img class="itemImg" src="{{ result.images.standard_resolution.url }}"></a></li>
          </ul>
        
        </div>
      </div>
    </div>
  </body>

</html>
