<!doctype html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Instagram API search</title>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
	<script src="app.js"></script>
	<link rel="stylesheet" href="main.css">
</head>

<body>
    <div>
      <h1>Instagram Searcher</h1>
      <p>Search for Instagram pictures by keyword</p>
    </div>
    <div ng-controller="MyController">
      <form ng-submit="searchInstagram(keyword)">
        <input type="text" name="keyword" ng-model="keyword" required="" />
        <input type="submit" value="Submit" id="submit" />
      </form>
      <div class="results" ng-if="results">
        <h2>We found {{ results.length }} results for {{ keyword }}</h2>
        <div>
          <ul class="imgResults">
            <li ng-repeat="result in results"><img class="itemImg" ng-src="{{ result.images.standard_resolution.url }}"></img></li>
          </ul>
        </div>
      </div>
    </div>
  </body>

</html>
